@charset "UTF-8";

        body {
            font-family: open sans;
            line-height: 1.6;
            margin: 20px;
            text-align: justify;

        }
blockquote{
  margin: 10px;
        text-indent: 40px;

}
h4 {
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    //text-shadow: 0.03em 0.03em 0.03em blue;
    
    
    text-align: left;
  
}

   h3 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding: 20px;
    text-align: left;
    border-radius: 10px; /* Arredonda os cantos */
    
    /* Gradiente no background */
    background: linear-gradient(to right, green, #ffffff); /* gradiente do laranja para o rosa */
}
        p {
            //margin: 10px 0;
        text-indent: 25px;
        }

ul{
 margin: 10px;
 
 line-height: 1.6;

}

   
